/* --------------------HERO/Header Start ----------------------------- */
header {
	display: flex;
	min-height: 100svh;
	max-height: 100%;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background-color: var(--main-color);
	background-image: linear-gradient(
			var(--medium-color1-filter),
			var(--medium-color1-filter)
		),
		url("bilder/Small/dogsnowcover360.jpeg");
	background-position: center;
	background-size: cover;
	margin: 0;
}

@media (-webkit-min-device-pixel-ratio: 2) {
	header {
		background-image: linear-gradient(
				var(--medium-color1-filter),
				var(--medium-color1-filter)
			),
			url("bilder/medium/dogsnowcover720.jpeg");
	}
}
@media (-webkit-min-device-pixel-ratio: 3) {
	header {
		background-image: linear-gradient(
				var(--medium-color1-filter),
				var(--medium-color1-filter)
			),
			url("bilder/large/dogsnowcover1080.jpeg");
	}
}

/* --------------------------------------Navbar--------------------- */
#navigationbar {
	background-color: var(--main-color);
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
#tassikon {
	width: 30px;
	height: 30px;
}

#navlist {
	padding: 0;
	display: none;
}
#navimg-store {
	height: 20px;
	width: 20px;
	margin: 10px;
}
#navimg-tass {
	display: none;
}

#navlist {
	align-items: center;
	list-style: none;
}
#navlist li {
	margin: 0 12px;
}
a {
	text-decoration: none;
	color: black;
}
/* ---------------------För att få en hamburger meny utan js------------------ */

/*gömmer pilen på drop meny https://stackoverflow.com/questions/16603979/how-to-remove-the-default-arrow-icon-from-a-dropdown-list-select-element */
#hamburgare-select-meny {
	background-color: var(--dark-color);
	height: 40px;
	width: 40px;
	border-radius: 180px;
	margin-left: 20px;
	background-image: url("bilder/Hamburger.png");
	background-position: center;
	background-size: 80%;
	background-repeat: no-repeat;
	appearance: none;
	cursor: pointer;
	border: none;
	color: transparent;
	margin: 5px;
}

#hamburgare-select-meny * {
	background-color: var(--darker-color);
	color: var(--lightest-color);
}

#hamburgare-select-no-value {
	color: transparent;
}
#hero-headingandimg-container {
	display: flex;
	align-items: center;
	margin: 0;
}
#header-text-container {
	display: flex;
	flex-direction: column;
	background-color: var(--light-color);
	margin: 50px;
	margin-top: 150px;
	padding: 20px;
	max-width: 340px;
	border-radius: 18px;
}
#header-linje {
	height: 1px;
	max-width: 320px;
	background-color: var(--lightest-color);
}

.tass-i-text {
	margin-left: 20px;
	width: 40px;
	height: 40px;
}
/*--------------- header/hero end-------------*/
/* ------------------Main-start------------ */
main {
	position: relative;
}
/*-------------Services start ---------------*/
.sektion-services-textdiv {
	position: relative;
	box-sizing: border-box;
	min-height: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 50px;
	background-color: var(--main-color);
	background-image: linear-gradient(
			var(--main-color-filter2),
			var(--main-color-filter2)
		),
		url("bilder/Tassmedium.png");
	background-size: 10%;
}
.sektion-services-textdiv button {
	background-color: var(--complement-color);
	color: var(--darker-color);
	width: 100px;
	align-self: self-end;
}
.sektion-services-textdivbutton:hover {
	background-color: var(--light-color);
}

.sektion-services-imgdiv {
	min-height: 50vh;
	background-size: cover;
}
/*----------- kloklippning-start--------- */
#sektion-kloklippning {
	display: flex;
	flex-direction: column;
	margin: 0;
	color: var(--light-color);
}

#sektion-services-imgbulldog {
	position: relative;
	background-color: var(--main-color);
	background-image: linear-gradient(
			var(--medium-color1-filter),
			var(--medium-color1-filter)
		),
		url("bilder/Small/EbulldogM360.jpeg");

	background-position: bottom 60% right 0%;
}

@media (-webkit-min-device-pixel-ratio: 2) {
	#sektion-services-imgbulldog {
		background-image: linear-gradient(
				var(--medium-color1-filter),
				var(--medium-color1-filter)
			),
			url("bilder/medium/EbulldogM720.jpeg");
	}
}
@media (-webkit-min-device-pixel-ratio: 3) {
	#sektion-services-imgbulldog {
		background-image: linear-gradient(
				var(--medium-color1-filter),
				var(--medium-color1-filter)
			),
			url("bilder/large/EbulldogM1080.jpeg");
	}
}
/*----------- kloklippning-end--------- */

/*-----------Promenad Start ---------------- */
#sektion-promenad {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	margin: 0;
	color: var(--light-color);
}
#sektion-promenad .sektion-services-textdiv {
	background-color: var(--light-color);
	background-image: linear-gradient(
			var(--main-color-filter3),
			var(--main-color-filter3)
		),
		url(bilder/Tassljusare.png);
	color: var(--darker-color);
}
#sektion-services-meeting {
	box-sizing: border-box;
	position: relative;
	background-color: var(--main-color);
	background-image: linear-gradient(
			var(--medium-color1-filter),
			var(--medium-color1-filter)
		),
		url("bilder/Small/meetingM360.jpeg");
	background-position: bottom 50% right 20%;
}

@media (-webkit-min-device-pixel-ratio: 2) {
	#sektion-services-meeting {
		background-image: linear-gradient(
				var(--medium-color1-filter),
				var(--medium-color1-filter)
			),
			url("bilder/medium/meetingm720.jpeg");
	}
}
@media (-webkit-min-device-pixel-ratio: 3) {
	#sektion-services-meeting {
		background-image: linear-gradient(
				var(--medium-color1-filter),
				var(--medium-color1-filter)
			),
			url("bilder/large/meeting1080.jpeg");
	}
}
/*-----------Promenad end ---------------- */
/*-----------Sektion-Vet----------------- */
#sektion-vet {
	display: flex;
	flex-direction: column;
	text-align: left;
	color: var(--light-color);
}

#sektion-vet img {
	box-sizing: border-box;
	height: 50vh;
	width: 100%;
	object-fit: cover;
}
/*-----------Sektion-end----------------- */
/*-------------Services-end ---------------*/
/*--------------sektion reviewandcontact-----------*/
.aria-label {
	overflow: hidden;
	width: 0;
	height: 0;
	margin: 0;
}
.sektion-reviewandcontact {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 50px;
	text-align: center;
}

.sektion-reviewandcontact-background-image {
	position: fixed;
	background-color: var(--main-color);
	background-image: linear-gradient(
			var(--medium-color1-filter),
			var(--medium-color1-filter)
		),
		url("bilder/Small/bridgeS.jpeg");
	background-position: bottom 50% right 50%;
	width: 100vw;
	height: 100vh;
	top: 0;
	z-index: -1;
	background-size: cover;
}
/*-----------------Review start---------------  */
.review-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 60px;
	margin: 50px 0;
}

.review-div {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background-color: var(--darker-color);
	color: var(--light-color);
	padding: 20px;
	border-radius: 20px;
	text-align: left;
	border: solid var(--complement-color);
	max-width: 250px;
	margin-top: 50px;
}

.review-div > p {
	flex-grow: 1;
}
.review-div > h3 {
	margin-top: 40px;
	margin-bottom: 0;
}

.review-img {
	position: absolute;
	top: -60px;
	background-size: cover;
	width: 100px;
	height: 100px;
	border-radius: 180px;
}
#review-img1 {
	background-color: var(--main-color);
	background-image: url("bilder/ture.jpg");
}
#review-img2 {
	background-color: var(--main-color);
	background-image: url("bilder/ture.jpg");
}
#review-img3 {
	background-color: var(--main-color);
	background-image: url("bilder/ture.jpg");
}
.stars {
	width: 207px;
	height: 33px;
}
/*-----------------Review end---------------  */
/*-----------------endsektion start---------------  */
#slutsektion {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
}
.form-container {
	box-sizing: border-box;
	background-color: var(--darker-color);
	border-radius: 18px;
	width: 100%;
}
#formen {
	display: flex;
	flex-direction: column;
	text-align: left;
	padding: 10px;
	color: var(--light-color);
}
#formen label {
	margin-top: 10px;
}
.om-oss {
	display: flex;
	flex-direction: column;
	align-items: center;
	box-sizing: border-box;
	border-radius: 18px;
	background-color: var(--light-color);
	color: var(--darker-color);
	padding: 20px;
	margin: 20px;
	min-height: 450px;
	max-width: 350px;
	text-align: left;
}
.om-oss > img {
	width: 200px;
	height: 200px;
	border-radius: 10px;
}
/*-----------------endsektionend---------------  */
/*--------------reviewandcontact-end----------*/
/*--------------mainend----------*/

/*--------Footer-----------*/
footer {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	background-color: var(--main-color);
	color: var(--complement-color);
}
footer img {
	margin: 10px;
	width: 30px;
	height: 30px;
}
#kontaktruta {
	text-align: left;
	color: var(--light-color);
	border: dotted var(--complement-color);
	margin-bottom: 20px;
	margin-top: 20px;
	padding: 10px;
}
#kontaktruta p {
	margin: 0px;
}
/* Ville här använda float right */
#google-link {
	float: right;
}
#google-link img {
	width: 40px;
	height: 40px;
}
footer > div {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
address {
	display: flex;
	text-align: center;
}
/*---------------------------------------------LARGE--------------------------*/
@media screen and (min-width: 600px) {
	/* --------HERO/Header Start ----------------------------- */
	header {
		align-items: start;
		background-color: var(--medium-color1);
		background-image: linear-gradient(
				to right,
				var(--darker-color),
				80%,
				var(--medium-color1-filter)
			),
			url("bilder/large/StaffordSnowL.jpeg");
		background-position: bottom 0% right 40%;
		background-size: cover;
		min-height: 100vh;
		animation: zoomer 3s ease;
	}
	/* la till en skojig välkommst effekt */
	@keyframes blurring {
		0% {
			filter: Blur(10px);
		}
		80% {
			filter: Blur(0px);
		}
	}
	@keyframes zoomer {
		0% {
			background-position: bottom 0% right 60%;
		}
		100% {
			background-position: bottom 0% right 40%;
		}
	}
	/* -------------Navbar--------------------- */
	#navigationbar {
		overflow: hidden;
	}
	#navlist {
		display: flex;
		height: 100%;
	}
	#hamburgare-select-meny {
		display: none;
	}
	#navimg-tass {
		display: block;
		height: 20px;
		width: 20px;
		margin: 10px;
	}
	#tassikon {
		display: none;
	}
	.lankar {
		box-sizing: border-box;
		color: var(--light-color);
		height: 100%;
		padding: 20px;
		background-color: var(--main-color);
	}
	.lankar:hover {
		color: var(--darker-color);
		background-color: var(--light-color);
	}
	/* -------------Navbar end--------------------- */

	#header-text-container {
		background-color: transparent;
		color: var(--light-color);
		margin-left: 10vw;
		filter: Blur(0px);
		animation: blurring 3s ease;
	}
	#header-linje {
		background-color: var(--complement-color);
	}
	/* --------HERO/Header End ----------------------------- */
	/*---------------------------------------------Main-------------------------*/
	/*-------------Services start ---------------*/
	.sektion-services-textdiv {
		padding: 50px;
		width: 50%;
	}
	.sektion-services-imgdiv {
		width: 50%;
	}
	/*-----------------------------Sektion-Kloklippning------------------------ */
	#sektion-kloklippning {
		flex-direction: row;
	}
	#sektion-services-imgbulldog {
		background-image: linear-gradient(
				var(--medium-color1-filter),
				var(--medium-color1-filter)
			),
			url("bilder/larger/EBulldogRunnignL.jpeg");
	}
	/*-----------------------------Sektion-prommenad----------------------------*/
	#sektion-promenad {
		flex-direction: row-reverse;
	}

	#sektion-services-meeting {
		background-image: linear-gradient(
				var(--medium-color1-filter),
				var(--medium-color1-filter)
			),
			url("bilder/larger/meetingsSheepL.jpeg");
	}

	/*---------------------Sektion-Vet-----------------------------------------*/
	#sektion-vet {
		display: flex;
		flex-direction: row;
		min-height: 50vh;
	}

	#sektion-vet div {
		box-sizing: border-box;
		width: 50lvw;
	}
	#sektion-vet img {
		box-sizing: border-box;
		width: 50lvw;
		height: auto;
		object-fit: cover;
	}
	/*-------------Services end ---------------*/
	/*--------------sektion reviewandcontact start-----------*/
	.sektion-reviewandcontact {
		margin: 50px 0;
		gap: 100px;
	}
	.sektion-reviewandcontact-background-image {
		background-image: linear-gradient(
				var(--medium-color1-filter),
				var(--medium-color1-filter)
			),
			url("bilder/larger/bridgeL.jpeg");
		height: 100vh;
		width: 100vw;
	}
	/*-----------------Review start---------------  */
	.review-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		flex-direction: row;
		align-items: stretch;
		gap: 20px;
	}
	.review-div {
		max-width: 200px;
	}

	.slutsektionr > div {
		flex-shrink: 0;
	}

	/*-----------------endsection start---------------  */
	#slutsektion {
		display: flex;
		flex-direction: row-reverse;
		flex-wrap: wrap;
		width: 100%;
		gap: 20px;
	}

	.om-oss {
		margin: 0;
	}

	.form-container {
		width: 350px;
	}

	/*--------------reviewandcontact-end-----------*/
	/*--------------footer-----------*/

	footer {
		flex-direction: row;
	}
	footer > div {
		margin: 20px;
	}
}
