/* --------------------HERO/Header Start ----------------------------- */
/* Att använda background-image tillsammans med height definierat med "vh"eller
 dyl fungerar ej bra på ios
med webläsare duckduckgo, bilden justeras utefter webläsarens sökfält. */

header {
	display: flex;
	min-height: 100svh;
	width: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	background-color: var(--main-color);
	background-image: linear-gradient(
			var(--main-color-filter4),
			var(--darker-color) 70%
		),
		url("bilder/medium/doris360.jpeg");
	background-position: bottom 50% right 60%;
	background-size: cover;
	margin: 0;
	padding: 0;
}

@media (-webkit-min-device-pixel-ratio: 2) {
	header {
		background-image: linear-gradient(
				var(--main-color-filter4),
				var(--darker-color) 70%
			),
			url("bilder/large/doris940.jpeg");
	}
}

/* --------------------------------------Navbar--------------------- */
#navigationbar {
	background-color: var(--main-color);
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
#tassikon {
	width: 30px;
	height: 30px;
}

#navimg-store {
	height: 20px;
	width: 20px;
	margin: 10px;
}
#navimg-tass {
	display: none;
}

/* ---------------------För att få en hamburger meny utan js------------------ */
/* avstamp från denna:  https://www.w3schools.com/css/css_dropdowns.asp  */
/*hamburger */
#hamburger-meny {
	position: relative;
	margin: 5px;
	display: inline-block;
}
#hamburger-image {
	background-color: transparent;
	background-image: url("bilder/Hamburger.png");
	background-position: center;
	height: 40px;
	width: 40px;
	background-size: 80%;
	background-repeat: no-repeat;
	appearance: none;
	cursor: pointer;
}
#hamburger-content {
	display: none;
	position: absolute;
	margin: 0;
	top: 10px;
	background-color: var(--darker-color);
	min-width: 20px;
	padding: 12px 16px;
	border-radius: 18px;
	z-index: 1;
}

#hamburger-meny:focus-within #hamburger-content,
#hamburger-meny:hover #hamburger-content {
	display: block;
}
/* display block så att länkarna inte pressas samman, använda styling på
a istället för li så att hela området blev klickbart*/
#hamburger-content li a {
	display: block;
	background-color: var(--lightest-color);
	color: var(--darker-color);
	margin: 20px;
	padding: 10px;
	height: 20px;
	border-radius: 5px;
	border: solid var(--main-color);
	color: var(--darker-color);
}
/* hamburger end */
#hero-headingandimg-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0;
}

/*	-webkit-backdrop-filter pga av bristande support för ios*/
#header-text-container {
	position: relative;
	/* overflow: hidden; */
	display: flex;
	flex-direction: column;
	color: var(--lightest-color);
	margin: auto;
	margin-bottom: 20px;
	padding: 20px;
	max-width: 90%;
	border-radius: 18px;
	backdrop-filter: blur(35px);
	-webkit-backdrop-filter: blur(35px);
	animation: 2s ease fadin;
}
#header-text-container button {
	height: 40px;
	width: 100%;
	animation: 1s ease fadeinbutton;
}
#header-linje {
	height: 1px;
	max-width: 320px;
	background-color: var(--light-color);
	animation: 1s ease fadinlinje;
}

.tass-i-text {
	width: 40px;
	height: 40px;
	animation: 1s ease fadintass;
}
/* några skojiga effekter för att välkomna besökare */

@keyframes fadin {
	0% {
		filter: blur(400px);
		backdrop-filter: blur(0px);
		background-color: transparent;
		color: transparent;
	}
	30% {
		filter: blur(0px);
		background-color: transparent;
		color: transparent;
	}
	100% {
		filter: blur(0px);
		backdrop-filter: blur(35px);
	}
}
@keyframes fadintass {
	0% {
		width: 0px;
		height: 0px;
	}
	100% {
		width: 40px;
		height: 40px;
	}
}
@keyframes fadinlinje {
	0% {
		height: 0px;
		max-width: 0px;
	}
	100% {
		height: 1px;
		max-width: 320px;
	}
}
@keyframes fadeinbutton {
	0% {
		height: 0px;
		max-width: 0px;
	}
	100% {
		height: 40px;
		max-width: 100%;
	}
}
/*--------------- header/hero end-------------*/
/* ------------------Main-start------------ */
main {
	position: relative;
}
main button {
	width: 100px;
}
/*-------------Services start ---------------*/
.sektion-services-textdiv {
	position: relative;
	box-sizing: border-box;
	min-height: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 50px;
	background-color: var(--main-color-filter7);
	background-image: linear-gradient(
			var(--main-color-filter2),
			var(--main-color-filter2)
		),
		url("bilder/Tassmedium.png");
	background-size: 10%;
	backdrop-filter: blur(35px);
	-webkit-backdrop-filter: blur(35px);
}
.sektion-services-textdiv button {
	background-color: var(--complement-color);
	color: var(--darker-color);
	align-self: self-end;
}
.sektion-services-textdiv button:hover {
	color: var(--complement-color);
	background-color: var(--darker-color);
}
.sektion-services-textdivbutton:hover {
	background-color: var(--light-color);
}

.sektion-services-imgdiv {
	min-height: 50vh;
	background-size: cover;
}
/*----------- kloklippning-start--------- */
#sektion-kloklippning {
	display: flex;
	flex-direction: column;
	margin: 0;
	color: var(--light-color);
}

#sektion-services-imgbulldog {
	position: relative;
	background-color: var(--darker-color);
	background-image: linear-gradient(
			var(--medium-color1-filter),
			var(--medium-color1-filter)
		),
		url("bilder/Small/EbulldogM360.jpeg");
	background-position: bottom 60% right 0%;
}

@media (-webkit-min-device-pixel-ratio: 2) {
	#sektion-services-imgbulldog {
		background-image: linear-gradient(
				var(--medium-color1-filter),
				var(--medium-color1-filter)
			),
			url("bilder/medium/EbulldogM720.jpeg");
	}
}
@media (-webkit-min-device-pixel-ratio: 3) {
	#sektion-services-imgbulldog {
		background-image: linear-gradient(
				var(--medium-color1-filter),
				var(--medium-color1-filter)
			),
			url("bilder/large/EbulldogM1080.jpeg");
	}
}
/* Effekt med vandrande tassar över skärmen(0) vid hover */
.bustassar {
	filter: blur(40px);
}

#sektion-kloklippning:hover .bustassar {
	display: block;
	filter: blur(0px);
}

#bustass-1 {
	position: absolute;
	transition: all 0.3s;
	transition-delay: 1.5s;
	top: 50px;
	right: 10px;
	height: 30px;
	width: 30px;
	background-image: url("bilder/tassDark.png");
	background-size: cover;
}
#bustass-2 {
	position: absolute;
	transition: all 0.3s;
	transition-delay: 1s;
	top: 150px;
	right: 20px;
	height: 30px;
	width: 30px;
	background-image: url("bilder/tassDark.png");
	background-size: cover;
}
#bustass-3 {
	position: absolute;
	transition: all 0.3s;
	transition-delay: 0.5s;
	top: 200px;
	right: 10px;
	height: 30px;
	width: 30px;
	background-image: url("bilder/tassDark.png");
	background-size: cover;
}
#bustass-4 {
	position: absolute;
	transition: all 0.3s;
	top: 300px;
	right: 20px;
	height: 30px;
	width: 30px;
	background-image: url("bilder/tassDark.png");
	background-size: cover;
}
/* Effekt med vandrande tassar över skärmen (0) vid hover END */
/*----------- kloklippning-end--------- */

/*-----------Promenad Start ---------------- */
#sektion-promenad {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	margin: 0;
	color: var(--light-color);
}
#sektion-promenad .sektion-services-textdiv {
	background-color: var(--light-color);
	background-image: linear-gradient(
			var(--main-color-filter3),
			var(--main-color-filter3)
		),
		url("bilder/medium/Tassljusare.png");
	color: var(--darker-color);
}
#sektion-services-meeting {
	box-sizing: border-box;
	background-color: var(--main-color);
	background-image: linear-gradient(
			var(--medium-color1-filter),
			var(--medium-color1-filter)
		),
		url("bilder/Small/meetingM360.jpeg");
	background-position: bottom 50% right 20%;
}

@media (-webkit-min-device-pixel-ratio: 2) {
	#sektion-services-meeting {
		background-image: linear-gradient(
				var(--medium-color1-filter),
				var(--medium-color1-filter)
			),
			url("bilder/medium/meetingm720.jpeg");
	}
}
@media (-webkit-min-device-pixel-ratio: 3) {
	#sektion-services-meeting {
		background-image: linear-gradient(
				var(--medium-color1-filter),
				var(--medium-color1-filter)
			),
			url("bilder/large/meeting1080.jpeg");
	}
}
/*    Tassar över skärm (1)   */
#sektion-promenad:hover .bustassar-1 {
	display: block;
	cursor: pointer;
	filter: blur(0px);
}
.bustassar-1 {
	filter: blur(40px);
}

#bustass-5 {
	position: absolute;
	transition: all 0.3s;
	transform: rotate(180deg);
	top: 10px;
	left: 10px;
	height: 30px;
	width: 30px;
	background-image: url("bilder/TassLight.png");
	background-size: cover;
}
#bustass-6 {
	position: absolute;
	transition: all 0.3s;
	transform: rotate(180deg);
	transition-delay: 0.5s;
	top: 90px;
	left: 20px;
	height: 30px;
	width: 30px;
	background-image: url("bilder/TassLight.png");
	background-size: cover;
}
#bustass-7 {
	position: absolute;
	transition: all 0.3s;
	transform: rotate(180deg);
	transition-delay: 1s;
	top: 170px;
	left: 2px;
	height: 30px;
	width: 30px;
	background-image: url("bilder/TassLight.png");
	background-size: cover;
}
#bustass-8 {
	position: absolute;
	transition: all 0.3s;
	transform: rotate(180deg);
	transition-delay: 1.2s;
	top: 250px;
	left: 15px;
	height: 30px;
	width: 30px;
	background-image: url("bilder/TassLight.png");
	background-size: cover;
}
/*    Tassar över skärm(1) end  */
/*-----------Promenad end ---------------- */
/*-----------Sektion-Vet----------------- */
#sektion-vet {
	display: flex;
	flex-direction: column;
	text-align: left;
	color: var(--light-color);
}

/*    Tassar över skärm (2)   */
#sektion-vet:hover .bustassar-2 {
	display: block;
	cursor: pointer;
	filter: blur(0px);
}
.bustassar-2 {
	filter: blur(40px);
}

#bustass-10 {
	transform: rotate(90deg);
	position: absolute;
	top: 2px;
	left: 10px;
	height: 30px;
	width: 30px;
	background-image: url("bilder/tassDark.png");
	background-size: cover;
}
#bustass-11 {
	position: absolute;
	transition: all 0.3s;
	transform: rotate(90deg);
	transition-delay: 0.5s;
	top: 10px;
	left: 90px;
	height: 30px;
	width: 30px;
	background-image: url("bilder/tassDark.png");
	background-size: cover;
}
#bustass-12 {
	position: absolute;
	transition: all 0.3s;
	transform: rotate(90deg);
	transition-delay: 1s;
	top: 2px;
	left: 170px;
	height: 30px;
	width: 30px;
	background-image: url("bilder/tassDark.png");
	background-size: cover;
}
#bustass-13 {
	position: absolute;
	transition: all 0.3s;
	transform: rotate(90deg);
	transition-delay: 1.5s;
	top: 10px;
	left: 250px;
	height: 30px;
	width: 30px;
	background-image: url("bilder/tassDark.png");
	background-size: cover;
}

/*    Tassar över skärm (2) end  */

#sektion-vet img {
	box-sizing: border-box;
	height: 50vh;
	width: 100%;
	object-fit: cover;
}
/*-----------Sektion-end----------------- */
/*-------------Services-end ---------------*/
/*--------------sektion reviewandcontact-----------*/
.aria-label {
	overflow: hidden;
	width: 0;
	height: 0;
	margin: 0;
}
.sektion-reviewandcontact {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 50px;
	text-align: center;
}

/* Använder position fixed istället för attachment fixed pgav bristande support på ios*/
.sektion-reviewandcontact-background-image {
	position: fixed;
	background-color: var(--main-color);
	background-image: linear-gradient(
			var(--medium-color1-filter),
			var(--medium-color1-filter)
		),
		url("bilder/Small/bridgeS.jpeg");
	background-position: bottom 50% right 50%;
	width: 100lvw;
	height: 100lvh;
	top: 0;
	z-index: -1;
	background-size: cover;
}
/*-----------------Review start---------------  */
.review-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 60px;
	margin: 50px 0;
}

.review-div {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background-color: var(--main-color-filter6);
	color: var(--light-color);
	padding: 20px;
	border-radius: 20px;
	text-align: left;
	border: solid var(--complement-color);
	max-width: 250px;
	margin-top: 50px;
	backdrop-filter: blur(35px);
	-webkit-backdrop-filter: blur(35px);
}

.review-div > p {
	flex-grow: 1;
}
.review-div > h3 {
	margin-top: 40px;
	margin-bottom: 0;
}

.review-img {
	position: absolute;
	top: -60px;
	background-size: cover;
	width: 100px;
	height: 100px;
	border-radius: 180px;
}
/* förberett för specifika bilder */
#review-img-1 {
	background-color: var(--main-color);
	background-image: url("bilder/ture.jpg");
}
#review-img-2 {
	background-color: var(--main-color);
	background-image: url("bilder/ture.jpg");
}
#review-img-3 {
	background-color: var(--main-color);
	background-image: url("bilder/ture.jpg");
}
.stars {
	width: 207px;
	height: 33px;
}
/*-----------------Review end---------------  */
/*-----------------endsektion start---------------  */
#slutsektion {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.form-container {
	box-sizing: border-box;
	background-color: var(--darker-color);
	border-radius: 18px;
	width: 400px;
	max-width: 90vw;
}
#formen {
	display: flex;
	flex-direction: column;
	text-align: left;
	padding: 10px;
	color: var(--light-color);
}
#formen label {
	margin-top: 10px;
}
.om-oss {
	display: flex;
	flex-direction: column;
	align-items: center;
	box-sizing: border-box;
	border-radius: 18px;
	background-color: var(--light-color);
	color: var(--darker-color);
	padding: 20px;
	margin-bottom: 20px;
	min-height: 450px;
	width: 400px;
	max-width: 90vw;
	text-align: left;
}
.om-oss > img {
	width: 200px;
	height: 200px;
	border-radius: 10px;
}
/*-----------------endsektionend---------------  */
/*--------------reviewandcontact-end----------*/
/*--------------mainend----------*/

/*--------Footer-----------*/
footer {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	background-color: var(--main-color);
	color: var(--complement-color);
}
footer img {
	margin: 10px;
	width: 30px;
	height: 30px;
}
#kontaktruta {
	text-align: left;
	color: var(--light-color);
	border: dotted var(--complement-color);
	margin-bottom: 20px;
	margin-top: 20px;
	padding: 10px;
}
#kontaktruta p {
	margin: 0px;
}

#google-link {
	float: right;
}
#google-link img {
	width: 40px;
	height: 40px;
}
footer > div {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
address {
	display: flex;
	text-align: center;
}
