/* --------HERO/Header Start ----------------------------- */
header {
	align-items: start;
	background-color: var(--medium-color1);
	background-image: linear-gradient(
			to right,
			var(--darker-color),
			80%,
			var(--main-color-filter4)
		),
		url("bilder/large/StaffordSnowL.jpeg");
	background-position: bottom 0% right 40%;
	background-size: cover;
	min-height: 100vh;
}

/* -------------Navbar--------------------- */
#navigationbar {
	padding: 0;
	align-items: center;
	overflow: hidden;
}

#hamburger-meny:hover #hamburger-content {
	display: flex;
}
#hamburger-image {
	display: none;
}
#hamburger-meny {
	padding: 0px;
	margin: 0px;
	order: 1;
}
#hamburger-content {
	background-color: transparent;
	position: relative;
	top: 0px;
	margin: 0px;
	display: flex;
	border: none;
	padding: 0px;
	align-items: center;
}

#hamburger-content li a {
	color: var(--lightest-color);
	background-color: transparent;
	margin: 0px;
	margin-right: 12px;
	border: none;
}
#hamburger-content li a:hover {
	color: var(--darker-color);
	background-color: var(--lightest-color);
}

#navimg-tass {
	height: 20px;
	width: 20px;
}
#tassikon {
	margin-left: 10px;
	order: 1;
}
#storelink {
	order: 3;
}

/* -------------Navbar end--------------------- */

#header-text-container {
	max-width: 400px;
	background-color: transparent;
	color: var(--lightest-color);
	margin-top: 25vh;
	margin-left: 10vw;
	filter: Blur(0px);
	animation: blurring 3s ease;
}
@keyframes blurring {
	0% {
		filter: Blur(10px);
	}
	80% {
		filter: Blur(0px);
	}
}
#header-text-container button {
	height: 40px;

	animation: none;
}
#header-linje {
	background-color: var(--complement-color);
}
/* --------HERO/Header End ----------------------------- */
/*---------------------------------------------Main-------------------------*/
/*-------------Services start ---------------*/
.sektion-services-textdiv {
	padding: 50px;
	width: 50%;
}
.sektion-services-imgdiv {
	width: 50%;
}
/*-----------------------------Sektion-Kloklippning------------------------ */
#sektion-kloklippning {
	flex-direction: row;
}
#sektion-services-imgbulldog {
	background-image: linear-gradient(
			var(--medium-color1-filter),
			var(--medium-color1-filter)
		),
		url("bilder/large/EbulldogM1080.jpeg");
}
/*-----------------------------Sektion-prommenad----------------------------*/
#sektion-promenad {
	flex-direction: row-reverse;
}

#sektion-services-meeting {
	background-image: linear-gradient(
			var(--medium-color1-filter),
			var(--medium-color1-filter)
		),
		url("bilder/large/meeting1080.jpeg");
}

/*---------------------Sektion-Vet-----------------------------------------*/
#sektion-vet {
	display: flex;
	flex-direction: row;
	min-height: 50vh;
}
/* använder % för att vw gjorde den sned */
#sektion-vet .sektion-services-textdiv {
	box-sizing: border-box;
	min-width: 50%;
}
#sektion-vet img {
	box-sizing: border-box;
	min-width: 50%;
	height: auto;
	object-fit: cover;
}
/*-------------Services end ---------------*/
/*--------------sektion reviewandcontact start-----------*/
.sektion-reviewandcontact {
	margin: 50px 0;
	gap: 100px;
}
.sektion-reviewandcontact-background-image {
	background-image: linear-gradient(
			var(--medium-color1-filter),
			var(--medium-color1-filter)
		),
		url("bilder/large/bridgeL.jpeg");
	height: 100vh;
	width: 100vw;
}
/*-----------------Review start---------------  */
.review-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	flex-direction: row;
	align-items: stretch;
	gap: 20px;
}
.review-div {
	max-width: 200px;
}

.slutsektionr > div {
	flex-shrink: 0;
}

/*-----------------endsection start---------------  */
#slutsektion {
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	width: 100%;
	gap: 20px;
}

/* .om-oss {
	margin: 0;
	width: 380px;
}

.form-container {
	width: 380px;
} */

/*--------------reviewandcontact-end-----------*/
/*--------------footer-----------*/

footer {
	flex-direction: row;
}
footer > div {
	margin: 20px;
}
