/* färger i variabler pga kronisk ambivalens*/

:root {
	--lightest-color: #e6ecf5;
	--light-color: #b8c9e3;
	--light-color-filter: #b8c9e335;
	--medium-color1: #2d75e1;
	--medium-color2: #1c498c;
	--main-color: #143566;
	--main-color-filter7: #143566dd;
	--main-color-filter2: #143566e3;
	--main-color-filter4: #1435668a;
	--main-color-filter5: #111e33a9;
	--main-color-filter6: #111e33c2;
	--main-color-filter3: #b8c9e3f0;
	--medium-color1-filter: #1435663d;
	--darker-color: #111e33;
	--complement-color: #e0a42d;
}
@font-face {
	font-family: "roboL";
	src: url(./Roboto-Light.ttf);
	font-display: swap;
}
p {
	font-family: "Courier New", Courier, monospace, sans-serif;
}

@font-face {
	font-family: "AgencyG";
	src: url("./AgencyGothicCT-Light.ttf");
	font-display: swap;
}

/*på body overflow-x hidden på grund av animationen*/
body {
	display: flex;
	flex-direction: column;
	font-family: roboL, sans-serif;
	background-color: var(--medium-color1);
	margin: 0;
	overflow-x: hidden;
}

/* den vanliga blå färgen som blir ifall bilden ej laddas
  (alt) blev svår att se mot min bakgrund på vissa skärmar*/
img {
	color: var(--lightest-color);
}
h1,
h2 {
	font-family: AgencyG, "Trebuchet MS", sans-serif;
	font-size: xx-large;
}

button {
	align-self: flex-end;
	color: var(--darker-color);
	padding: 10px;
	border-radius: 8px;
	border: none;
	cursor: pointer;
}
input {
	background-color: var(--lightest-color);
}
textarea {
	background-color: var(--lightest-color);
}
ul {
	list-style: none;
	padding: 0;
}

address a {
	color: var(--lightest-color);
}
